<section class="about">
  <div class="container about__container">
    <div class="about__item about__item-one">
      <img class="about__item-img" src="./assets/image/activity-about-img-1.jpeg" width="584" height="751"
        alt="workplace">
      <a href="#">
        <h3 class="about__item-title heading-h3">
          How we perform long-running tasks using AWS services
        </h3>
      </a>
      <p class="about__item-descr text-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar
        with all of these, they are usually entirely separate tools.
      </p>
    </div>
    <div class="about__item about__item-two">
      <img class="about__item-img" src="./assets/image/activity-about-img-2.jpeg" width="584" height="507"
        alt="work process">
      <a href="#">
        <h3 class="about__item-title heading-h3">
          How to ask when doing User Research
        </h3>
      </a>
      <p class="about__item-descr text-p-medium">
        Bro, the story is that you want to make an application for buying and selling goods on the market. During user
        research, what do you think you will ask people?
      </p>
    </div>
    <div class="about__item about__item-three">
      <img class="about__item-img" src="./assets/image/activity-about-img-3.jpeg" width="584"
        height="507" alt="meeting">
      <a href="#">
        <h3 class="about__item-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
      </a>
      <p class="about__item-descr text-p-medium">
        Make alternatives or other options for the design we are making.For example, we are creating a website design.
        Then there is the testimonial section.
      </p>
    </div>
    <div class="about__item about__item-four">
      <img class="about__item-img" src="./assets/image/activity-about-img-4.jpeg" width="584"
        height="751" alt="workplace">
      <a href="#">
        <h3 class="about__item-title heading-h3">
          Webflow Break the Coding Barrier
        </h3>
      </a>
      <p class="about__item-descr text-p-medium">
        Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar
        with all of these, they are usually entirely separate tools.
      </p>
    </div>
  </div>
</section>