<section class="hero-activity">
  <div class="container hero-activity__container">
    <h2 class="hero-activity__title heading-h1">
      Activity & Updates
    </h2>
    <p class="hero-activity__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building products that will help you run your
      business better.
    </p>
    <nav class="nav hero-activity__nav">
      <ul class="nav__list hero-activity__nav-list">
        <li class="nav__item">
          <a class="nav__link text-p-default hero-activity__nav-link" href="#">
            View all
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link text-p-default hero-activity__nav-link" href="#">
            Design
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link text-p-default hero-activity__nav-link" href="#">
            Articles
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link text-p-default hero-activity__nav-link" href="#">
            Product
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link text-p-default hero-activity__nav-link" href="#">
            Software Development
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link text-p-default hero-activity__nav-link" href="#">
            Customer Success
          </a>
        </li>
      </ul>
    </nav>
    <div class="swiper hero-activity__slider">
      <div class="hero-activity__pagination heading-h5">
        <div class="hero-activity__slider-btns">
          <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
              stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero-activity__article">
          <img class="hero-activity__article-img" loading="lazy" src="./assets/image/hero-activity-slide-1-img.jpeg"
            width="515" height="428" alt="woman typing on laptop and writing on a notebook">
          <div class="hero-activity__article-head text-p-small">
            <div class="hero-activity__article-date">
              Published in hero-activity
              <time datetime="2024-01-30"></time> Jan 30, 2024
            </div>
            <address class="hero-activity__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="hero-activity__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero-activity__article-text">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide hero-activity__article">
          <img class="hero-activity__article-img" loading="lazy" src="./assets/image/hero-activity-slide-2-img.jpeg"
            width="515" height="428" alt="man typing on laptop">
          <div class="hero-activity__article-head text-p-small">
            <div class="hero-activity__article-date">
              Published in hero-activity
              <time datetime="2024-01-30"></time> Jan 30, 2024
            </div>
            <address class="hero-activity__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="hero-activity__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero-activity__article-text">
            What are Design Principles?… To understand design principles, we first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide hero-activity__article">
          <img class="hero-activity__article-img" loading="lazy" src="./assets/image/hero-activity-slide-3-img.jpeg"
            width="515" height="428" alt="woman typing on laptop and writing on a notebook">
          <div class="hero-activity__article-head text-p-small">
            <div class="hero-activity__article-date">
              Published in hero-activity
              <time datetime="2024-01-30"></time> Jan 30, 2024
            </div>
            <address class="hero-activity__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="hero-activity__article-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="hero-activity__article-text">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide hero-activity__article">
          <img class="hero-activity__article-img" loading="lazy" src="./assets/image/hero-activity-slide-2-img.jpeg"
            width="515" height="428" alt="man typing on laptop">
          <div class="hero-activity__article-head text-p-small">
            <div class="hero-activity__article-date">
              Published in hero-activity
              <time datetime="2024-01-30"></time> Jan 30, 2024
            </div>
            <address class="hero-activity__article-autor">
              by : Albert Sans
            </address>
          </div>
          <h3 class="hero-activity__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero-activity__article-text">
            In this article, we'll cover how to create user flows
          </p>
        </div>
      </div>
    </div>
  </div>
</section>