.features {
  padding: 100px 0 94px;

  @include mobile {
    padding: 60px 0 64px;
  }

  &__container {
    @include flex-all-between;

    
    @include mini-desktop {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      gap: 25px;
    }  

  }

  &__left {
    position: relative;
  }

  &__stats {
    position: absolute;
    right: 36px;
    bottom: 40px;
    padding: 18px;
    height: 298px;
    max-width: 290px;
    background: #fff;

    @include mobile {
      right: 16px;
      bottom: 20px;
    }

    @include small-mobile {
      padding: 14px;
      max-width: 240px;
    }

    &-head {
      @include flex-all-between;
      margin-bottom: 19px;
    }

    &-title {
      margin-bottom: 6px;
      font-weight: 600;
      line-height: 24px;
      color: #1d1e25;
    }

    &-item {
      @include flex-align-center;
      gap: 26px;

      &:not(:last-child) {
        border-bottom: 0.73px solid #ededed;
        padding-bottom: 23px;
      }

      &:last-child {
        padding-top: 23px;
      }

      &-img {
        @include small-mobile {
          right: 12px;
          bottom: 12px;
          width: 65px;
        }
      }

      &-title {
        font-weight: 500;
        font-size: 10.2px;
        line-height: 150%;
        color: #7e8492;
      }

      &-price {
        @include flex-align-center;
        gap: 12px;
        margin-bottom: 9px;

        &-num {
          font-weight: 700;
          font-size: 23.32px;
          line-height: 120%;
          color: #1d1e25;

          @include mobile {
            font-size: 18px;
          }
        }

        &-proc {
          @include flex-align-center;
          gap: 5px;
          font-weight: 500;
          font-size: 10.2px;
          line-height: 150%;
          color: #1d1e25;
        }
      }

      &-descr {
        font-weight: 400;
        font-size: 8.74px;
        line-height: 11px;
        color: #878787;
      }
    }
  }

  &__right {
    max-width: 557px;

    @include mini-desktop {
      max-width: 992px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 360px;
    font-weight: 500;
    line-height: 32px;
    color: #7e8492;

    @include mini-desktop {
      max-width: 700px;
    }
  }

  &__item {
    @include flex-align-center;
    gap: 19px;
    margin-bottom: 32px;
    max-width: 370px;
    font-weight: 500;
    line-height: 32px;
    text-align: start;

    @include mini-desktop {
      max-width: 700px;
    }

    @include mobile {
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      display: inline-block;
      padding-right: 19px;
      width: 20px;
      height: 20px;
      background: url('../assets/icons/features-tick-icon.svg');
    }
  }
}
